@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  background: rgba(223, 223, 223, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 10px;
}
